<div class="todos">
    <header class="text-center">
        <h1>Todos</h1>
    </header>

    <form>
        <div class="row">
          <div class="col-5">
            <input type="text" class="form-control" placeholder="Enter todo" name="todo" [(ngModel)]="todo">
          </div>
        <!-- </div> -->
          <div class="col-5">
            <input type="datetime-local" class="form-control" id="tasktime" [(ngModel)]="time" name="time">
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-success" (click)="saveTodo()">Save Task</button>
          </div>
        </div>
    </form>
    <div class="todo-list mt-20">
        <ul class="todo-list list-card">
            <li class="list-item-card pt-10" *ngFor="let todo of todos;let i=index" [class.completed]="todo.completed">
              <div class="view">
                <input class="toggle mr-10" type="checkbox" (click)="toggleTodoComplete(i)" [checked]="todo.completed">
                <label class="mr-10">{{todo.name}}</label>
                <span *ngIf="countDownTimes[i]">
                    <button class="btn btn-primary mr-10">{{countDownTimes[i]?.days + 'd'}}</button>
                    <button class="btn btn-primary mr-10">{{countDownTimes[i]?.hours + 'h'}}</button>
                    <button class="btn btn-primary mr-10">{{countDownTimes[i]?.minutes + 'm'}}</button>
                    <button class="btn btn-primary mr-10">{{countDownTimes[i]?.seconds + 's'}}</button>
                </span>
                <button class="btn btn-danger delete mr-10" (click)="removeTodo(i)">Delete</button>
              </div>
            </li>
          </ul>
    </div>
</div>
